.date-wrapper {
    position: relative;
}

.field-date-input {
    width: 100%;
    padding: 0.625rem 2.5rem 0.625rem 0.875rem;
    border-radius: 0.75rem;
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-blue-input);
    font-family: var(--font-family-primary);
    font-size: var(--font-body-medium-16);
    color: var(--text-primary);
}

.field-date-input:focus-visible {
    outline: 2px solid #1d9bf0;
    outline-offset: 2px;
    border-color: transparent;
    background-color: var(--color-white-100);
}

.date-icon {
    position: absolute;
    right: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1rem;
    color: var(--color-gray-200);
}
