.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.field-label {
    color: var(--text-primary);
    padding-bottom: 0.5rem;
}

/* input policko */
.field-input {
    padding: 0.625rem 0.875rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-blue-input);
}

.field-input::placeholder {
    color: var(--color-gray-100);
}

.field-input:focus-visible {
    outline: 2px solid var(--color-gray-100);
    outline-offset: 2px;
    border-color: transparent;
    background-color: var(--color-white-100);
}
