.field-textarea {
    width: 100%;
    padding: 0.625rem 0.875rem;
    border-radius: 0.75rem;
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-blue-input);
}

.field-textarea::placeholder {
    color: var(--color-gray-100);
}

.field-textarea:focus-visible {
    outline: 2px solid var(--color-gray-100);
    outline-offset: 2px;
    border-color: transparent;
    background-color: var(--color-white-100);
}
