/* Card okolo komponentu*/
.info-card {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-card-border);
    border-radius: 0.375rem;
    padding: 0.125rem 0.5rem ;
    max-width: 6.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Hodnota */
.info-value {
    margin-top: 0.2rem;
    color: var(--text-secondary);
}
