.validity-badge {
    width: 100%;
    text-align: center;
    padding: 1rem 0.625rem;
    border-radius: 0.625rem;
}

/* PLATNY */
.is-valid {
    background-color: var(--color-platny);
}

/* NEPLATNY */
.is-invalid {
    background-color: var(--color-neplatny);
}
