/* karta v strede */
.card.home-card {
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/* tlacitka v menu*/
.home-actions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.home-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.75rem;
    max-width: 28.125rem;
    display: flex;
    justify-content: center;
}
