/*karta uc(user card)*/
.user-contact-card {
    background-color: var(--color-card-bg);
    border-radius: var(--radius-card-border);
    border: 1px solid var(--color-card-border);
    padding: 1.3rem 1.4rem;
    box-shadow: var(--shadow-card);

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* Firma nazov */
.uc-header {
    color: var(--text-primary);
}

/* Info blok */
.uc-info {
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

/* Sprava */
.uc-message {
    padding-top: 0.3rem;
    color: var(--text-primary);
}

/* Akcie */
.uc-actions {
    display: flex;
    gap: 0.6rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

/* horny blok */
.uc-top {
    display: flex;
    flex-direction: column;
}

.uc-top.with-message {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* Info v riadku pri sprave */
.uc-info-row {
    display: flex;
    gap: 1rem;
    color: var(--text-secondary);
    white-space: nowrap;
}

/* povodne info vertikalne */
.uc-info {
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

/* hore: firma vlavo, info vpravo */
.uc-top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Info vpravo hore iba pri sprav */
.uc-info-right {
    text-align: left;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

